@import "tailwindcss";

@theme{
  --color-primary:#f4f4f4;
  --color-secondary:#30364F;
  --color-accent:#3e32b6;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: transparent; /* Tailwind color equivalent: bg-gray-100 */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Tailwind color equivalent: bg-gray-500 */
  border-radius: 4px; /* Add rounded corners */
}